body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
}

.sidebar {
    width: 200px;
    background: #f8f9fa;
    padding: 10px;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar h2 {
    padding: 10px;
    color: red;
    text-align: center;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    cursor: pointer;
    margin: 5px 0;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
}

.sidebar ul li.active, .sidebar ul li:hover {
    background: green;
    color: white;
}

.logout {
    width: 100%;
    padding: 12px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 20px;
}

.logout:hover {
    background: #c82333;
}

.main-content {
    flex-grow: 1;
    padding: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 15px 205px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-profile img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.dashboard-overview {
    display: flex;
    gap: 25px;
    margin-top: 25px;
}

.card {
    background: #f1f1f1;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    flex: 1;
    font-size: 18px;
    font-weight: bold;
}

.academic-grades table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
}

.academic-grades th, .academic-grades td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.academic-grades th {
    background: #007bff;
    color: white;
}

.upcoming-classes .class-item {
    background: #d4edda;
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    font-weight: bold;
}

.highest-gpa ul, .news ul {
    list-style: none;
    padding: 0;
}

.highest-gpa li, .news li {
    padding: 6px 0;
    font-size: 16px;
}
