/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f6f9;
    text-align: center;
}

/* Hero Section */
.hero {
    color: rgb(0, 0, 0);
    padding: 100px 300px;
    text-align: center;
}

.hero h1 {
    font-size: 4.5rem;
    margin-bottom: 20px;
    margin-top: 10px;
    font-style: boldd;
}

.hero p {
    font-size: 0.9rem;
    margin-bottom: 30px;
}

.cta-button {
    background: #d9534f;
    color: white;
    padding: 12px 25px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.cta-button:hover {
    background: #c9302c;
}

/* User Role Cards */
.user-roles {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px 20px;
}

.role-card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.icon {
    width: 50px;
    height: 50px;
    margin: 0 auto 15px;
    border-radius: 50%;
}

.admin {
    background: #f8d7da;
}

.staff {
    background: #cce5ff;
}

.student {
    background: #d4edda;
}

.login-link {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    text-decoration: none;
}

.admin.login-link {
    color: #d9534f;
}

.staff.login-link {
    color: #007bff;
}

.student.login-link {
    color: #28a745;
}
